@tailwind base;
@tailwind components;
@tailwind utilities;

/*=====================================
【リセットCSS】
======================================*/
a, button{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/*=====================================
【シャドウ】
======================================*/
.c-text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/*=====================================
【アブソリュート】
======================================*/
.c-absolute-01 {
  position: absolute;
  top: -28px;
  right: -75px;
}

.c-absolute-02 {
  position: absolute;
  top: -17px;
  right: -45px;
}

.c-absolute-03 {
  position: absolute;
  top: -18px;
  right: -43px;
}

.c-absolute-04 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/*=====================================
【テンプレート】
======================================*/
.c-template-01 {
  max-width: 1280px;
  padding-top: 160px;
  margin-right: auto;
  margin-left: auto;
}

.c-template-01__inner {
  padding-left: 20px;
  padding-right: 20px;
}

.c-template-02 {
  max-width: 500px;
  padding-top: 160px;
  margin-right: auto;
  margin-left: auto;
}

.c-template-02__inner {
  padding-left: 20px;
  padding-right: 20px;
}

/*=====================================
【ボタン】
======================================*/
.c-btn-01 {
  border-radius: 6px;
  padding: 10px 16px;
}

.c-btn-01:hover {
  opacity: 0.5;
  transition: 0.5s;
  cursor: pointer;
}

.c-btn-02 {
  background: linear-gradient(to right, #3b82f6, #a855f7);
  background-color: #3b82f6;
  color: #ffffff;
  font-weight: 600;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 9999px;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
  transform: none;
  transition: all 0.3s ease-in-out;
}

.c-btn-02:hover {
  background-color: #2563eb;
  background-color: #9333ea;
  transform: scale(1.05);
}

.c-btn-03 {
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
  transform: none;
  transition: all 0.3s ease-in-out;
}

.c-btn-03:hover {
  transform: scale(1.05);
}

/*=====================================
【ヘッダー】
======================================*/
.c-header-bgc {
  background-color: #FFACA0;
}